body {
    background-image: url('../Img/loginbg1.jpg');
    background-repeat: no-repeat;
    background-size:cover;

}
/* navbar image */
.logoimg{
    width: 10%;
    height: 10%;
}
.maindetails{
    text-align:center;
    color: aliceblue;
    background-color: gray;
    margin-left: 35%;
    margin-right: 35%;
}
.imgcontainer{
    color: aliceblue;
     text-align: center;
     margin-top: 5%;
}
form {
    text-align: center;
  }

  /* Set a style for all buttons */
.signinbut {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin-left: 25%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  .animation{
    margin-left: 35%;
  }
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  }
  @media(max-width:415px){
    .maindetails{
      margin-left: 35%;
      margin-right: 30%;
  }
    .signinbut {
      margin-left: 5%;
    }
    
    #myDIV{
      margin-left: 4%;
      height: 50%;
      width: 50%;
    }
    form{
        font-size: 8px;
    }

  }