body {
    background-size:cover;
}
html{
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
/* navbar image */
.logoimg{
    width: 10%;
    height: 10%;
}
.store-name img{
    margin-top: 4%;
    width: 280px;
    height: 150px;
}
.collab{
    width: 35%;
}
.card{
    float: left;
    margin-top: 3%;
    margin-left: 11%;
    color:black;
}


section{
    padding: 2rem 9%;
}

.sub-heading{
    text-align: center;
    color:green;
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:black;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn1{
    margin-top:1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #eee;
    background: skyblue;
    border-radius: .5rem;
    cursor:pointer;
    padding: .8rem 3rem;
    text-decoration: none;
}

.btn1:hover{
    letter-spacing: .1rem;
}

section:nth-child(even){
    background: #eee;
}
.home-slides .slide{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    gap:2rem;
    padding-top:3rem;
    padding-left: 2rem;
}
.home-slides .slide .content{
    flex:1 1 30rem;
}
.home-slides .slide .image{
    flex:1 1 30rem;
}
.home-slides .slide .image img{
    width: 80%;
    height: 80%;
}
.home-slides .slide .content span{
    color:green;
    font-size: 2.5rem;
}
.home-slides .slide .content h3{
    color:black;
    font-size: 7rem;
}
.home-slides .slide .content p{
    color:lightseagreen;
    font-size: 2rem;
    padding: .5rem 0;
}
.home-slides .slide .content .price {
    color: goldenrod;
}
.maindetails .store-name{
    background-color: yellowgreen;
    text-align:center;
}

.dish .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
    gap:1rem;
}

.dish .box-container .box{
    padding:2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow:inset;
    position: relative;
    overflow: hidden;
    text-align: center;
}

@media(max-width:415px){

    .dish .box-container{
        grid-template-columns: repeat(auto-fit,minmax(14rem,1fr));
    }
    .btn1{
        font-size: 1rem;
        padding: .8rem 3rem;
    }
    .box img{
        width: 50%;
        height: 50%;
    }
  }