body {
    background-image: url('../Img/loginbg1.jpg');
    background-repeat: no-repeat;

}
/* navbar image */
.logoimg{
    width: 10%;
    height: 10%;
}
.maindetails{
    text-align:center;
    color: aliceblue;
}
.collab{
    width: 35%;
}
.card{
    float: left;
    margin-left: 8%;
    color:black;
}